<div class="about-header text-center">
  <h2>About</h2>
  <h5 class="text-muted">Buy Cheap</h5>
</div>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem earum nemo asperiores iure soluta quibusdam eius laudantium esse? Temporibus natus quasi commodi aliquid unde excepturi libero perferendis sequi pariatur facere saepe doloremque soluta voluptate blanditiis eveniet, tempore totam, magnam ut voluptatibus asperiores quibusdam. Facere esse voluptatem consectetur excepturi ex.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem earum nemo asperiores iure soluta quibusdam eius laudantium esse? Temporibus natus quasi commodi aliquid</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium hic soluta error minus enim vero deleniti nam optio amet. Quas molestias quisquam eius nobis error unde explicabo voluptate aspernatur nihil.</p>
