<div class="banner-content text-center">
  <h1>קצת עלינו</h1>
</div>
<hr />
<div class="container text-center" dir="rtl">
  <h2>Merci</h2>
  <h3>אז אנחנו רוצים להזמין אתכן לעולם הקטן שלנו</h3>
  <h4>ולאהבה הכי כיפית שלנו..</h4>
  <p>
    לכתוב אודות זה הכי לא אנחנו וכמו שרובכן מכירות אותנו<br />
    האתר הזה נפתח אך ורק עבורכן, הלקוחות שהפכו להיות החברות שלנו.<br />
    אז למי שעדיין לא הכירה אותנו, זאת ההזדמנות להכיר קצת מקרוב.
  </p>
  <p>
    המותג MERCI הוקם בשנת 2021.<br />
    ההשראה לאופנה שלנו מגיעה מהלב שלנו, הפאשן שלנו ליצור ולייצר קולקציה שתהיה
    החותמת שלנו.<br />
    הקולקציה שאנחנו מייבאים ומייצרים משקפת את האישיות שלנו, את הרצון שלנו לשתף
    אתכן באהבה שלנו לבגדים.<br />
    וכמובן, ברצון להוציא כל בחורה עם אאטופייט הכי יפה שמתאים לה.
  </p>
  <p>
    חנות הבוטיק שלנו ממוקמת בראשון לציון, אלי ויזל 2 והיא הלב שלנו.<br />
    יחד עם זאת הוקם האתר אונליין שלנו לכל שאר הלקוחות האהובות שלנו.
  </p>
  <p>LOVE U</p>
  <h5>MERCI</h5>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
