<div class="jumbotron text-center text-light">
  <img
    class="d-block w-100"
    src="/assets/images/image4-1.png.webp"
    alt="First slide"
  />

  <div class="newsletter-section">
    <div class="container">
      <h2>Stay in the loop</h2>
      <div class="form-info-text">
        הרשמי לניוזלטר שלנו, תהיי ראשונה לדעת על המוצרים החדשים!
      </div>

      <form action="#" id="newsletter-form">
        <div class="input-group mb-3">
          <input
            class="
              form-control
              bg-transparent
              border-secondary border-end-0
              rounded-0
              no-outline
            "
            type="email"
            placeholder="Your Email Address"
            aria-label="Your Email Address"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary btn-dark border-start-0 rounded-0 no-outline"
              type="submit"
            >
              <i class="fa fa-paper-plane text-lg text-light"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
