.card {
    display: flex;
    width: 220px;
    font-family: "Gisha";
}

.deleteBtn {
    color: red;
    cursor: pointer;
    margin-left: 5px;
    width: 10px;
}

.searchInput {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 300px;
    outline: none;
}

.header {
    margin-right: 5px;
}

.categoriesFilter {
    margin-top: 10px;
}

.categoryFilter {
    margin-right: 5px;
}

.priceRange {
    margin-right: 5px;
}

.searchItems {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.searchIcon {
    margin-left: -23px;
}

.btn-edit {
    background-color: #6399ea;
    margin-left: 5px;
}

.itemName {
    font-weight: 600;
}

.card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemPrice::before {
    content: "₪";
    font-size: 16px;
    font-weight: 600;
}

.itemImg {
    height: 170px;
}