<div>
  <div class="searchItems">
    <input [ngModel]="search" (ngModelChange)="onSearchChange($event)" placeholder="search item..." class="form-control searchInput"
      type="text" />
    <svg class="searchIcon" width="20" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
      </path>
    </svg>
  </div>
  <h5 style='text-align: center; text-decoration: underline; margin-top: 10px;'>Filters</h5>
  <div style="display: flex; justify-content: center;">
    <div class="filters">
      <div class="priceFilter">
        <h6>Prices</h6>
        <div style="display: grid; width: 200px">
          <label class="header">Min Price</label>
          <input [ngModel]="minPrice" (ngModelChange)="onMinChange($event)" class="priceRange form-control" type="number" />
          <label class="header">Max Price</label>
          <input [ngModel]="maxPrice" (ngModelChange)="onMaxChange($event)" class="priceRange form-control" type="number" />
        </div>

      </div>
      <div class="categoriesFilter">
        <h6>Categories</h6>
        <div style="max-height: 180px;">
          <div class="category" *ngFor="let category of categories">
            <input type="checkbox" (change)="pickCategory($event.target.checked, category)"
              class="categoryFilter"><label>{{category}}</label>
          </div>
        </div>
      </div>
      <div class="colorsFilter">
        <h6>Colors</h6>
        <div class="colors">
          <div class="color" *ngFor="let color of fetchedColors">
            <input type="checkbox" (change)="pickColor($event.target.checked, color)"
              class="colorFilter"><label>{{color}}</label>
          </div>
        </div>
        <div *ngIf="!fetchedColors.length">No Colors Available</div>
      </div>
    </div>
  </div>
  <hr />

  <ng-container *ngIf="items; else noItems">
    <div class="row">
      <div *ngFor="let item of items" class="col col-sm-12 col-md-3 my-3">
        <div class="card">
          <label (click)="deleteItem(item._id)" *ngIf="authService.isAdmin()" class="deleteBtn">X</label>
          <div class="card-body">
            <img class="itemImg" src="../../../assets/images/{{ item.image }}" />
            <h5 class="itemName">{{ item.name }}</h5>
            <!-- <h6>{{ item.category }}</h6> -->
            <span class="itemPrice">{{ item.price }}</span>
          </div>
          <div class="card-footer">
            <a routerLink="/authenticate" *ngIf="!authService.isLoggedIn()" class="btn btn-success btn-buy">BUY</a>
            <a (click)="onAddToCart(item._id, item.name, item.price)" *ngIf="authService.isLoggedIn()"
              class="btn btn-success text-light btn-add-cart">Add To Cart</a>
            <a (click)="setItemForEdit(item)" *ngIf="authService.isAdmin()" class="btn text-light btn-edit"
              data-toggle="modal" data-target="#itemModal">Edit</a>
          </div>
        </div>
      </div>
      <div class="noItems" *ngIf="!items.length">
        No Items Found...
      </div>
    </div>
  </ng-container>
  <ng-template #noItems>
    <div class="text-center">
      <p class="text-muted">
        It seems you are out of connection, make sure you connect the internet &
        try again!
      </p>
    </div>
  </ng-template>
  <div class="addNewItem" *ngIf='authService.isAdmin()'>
    <button (click)="newItemState('add')" data-toggle="modal" data-target="#itemModal" class="addItem"><i
        style="line-height: 25px; font-size: 30px;">+</i></button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="modalState=='edit'" class="modal-title" id="itemModalTitle">Edit Item</h5>
        <h5 *ngIf="modalState=='add'" class="modal-title" id="itemModalTitle">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          X
        </button>
      </div>
      <form #userItem="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="itemName">Item Name</label>
            <input [ngModel]="selectedItem?.name" #name="ngModel" id="name" name="name" type="text" class="form-control"
              [class.is-invalid]="name.touched && name.invalid" required />
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Invalid Name!</small>
          </div>
          <div class="form-group">
            <label for="category">Item Category</label>
            <input [ngModel]="selectedItem?.category" #category="ngModel" id="category" name="category" type="text"
              class="form-control" [class.is-invalid]="category.invalid && category.touched" required />
            <small class="text-danger" [class.d-none]="category.valid || category.untouched">Invalid Category!</small>
          </div>
          <div class="form-group">
            <label for="price">Item Price</label>
            <input [ngModel]="selectedItem?.price" #price="ngModel" id="price" name="price" type="number"
              class="form-control" [class.is-invalid]="price.invalid && price.touched" required />
            <small class="text-danger" [class.d-none]="price.valid || price.untouched">Invalid Price!</small>
          </div>
          <div class="form-group">
            <label for="price">Item Colors</label>
            <input [ngModel]="selectedItem?.colors" #colors="ngModel" id="colors" name="colors" type="text"
              class="form-control" [class.is-invalid]="colors.invalid && colors.touched" required />
            <small class="text-danger" [class.d-none]="colors.valid || colors.untouched">Invalid Colors!</small>
          </div>
          <div class="form-group">
            <label for="image">Item Image</label>
            <input
              [ngModel]="selectedItem?.image"
              #image="ngModel"
              id="image"
              name="image"
              type="file"
              class="form-control"
              [class.is-invalid]="image.invalid && image.touched"
              required
			  (change)="uploadImage($event.target.files)"
            />
            <small
              class="text-danger"
              [class.d-none]="image.valid || image.untouched"
              >Invalid image!</small
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button data-dismiss="modal" (click)="onSubmit(userItem)" [disabled]="userItem.form.invalid" type="submit" class="btn btn-primary">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>