<div>
    <ng-container *ngIf="items; else noItems">
        <div class="row">
            <div *ngFor="let item of items" class="col col-sm-12 col-md-3 my-3">
                <div class="card">
                    <label (click)="deleteItem(item._id)" *ngIf="authService.isAdmin()" class="deleteBtn">X</label
          >
          <div class="card-body">
            <img
              class="itemImg"
              src="../../../assets/images/{{ item.image }}"
            />
            <h5 class="itemName">{{ item.name }}</h5>
            <!-- <h6>{{ item.category }}</h6> -->
            <span class="itemPrice">{{ item.price }}</span>
          </div>
          <div class="card-footer">
            <a
              routerLink="/authenticate"
              *ngIf="!authService.isLoggedIn()"
              class="btn btn-success btn-buy"
              >BUY</a
            >
            <a
              (click)="onAddToCart(item._id, item.name, item.price)"
              *ngIf="authService.isLoggedIn()"
              class="btn btn-success text-light btn-add-cart"
              >Add To Cart</a
            ><a
              (click)="setItemForEdit(item)"
              *ngIf="authService.isAdmin()"
              class="btn text-light btn-edit"
              data-toggle="modal"
              data-target="#exampleModalCenter"
              >Edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noItems>
    <div class="text-center">
      <p class="text-muted">
        It seems you are out of connection, make sure you connect the internet &
        try again!
      </p>
    </div>
  </ng-template>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Item</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          X
        </button>
      </div>
      <form (submit)="onEditItem(userItem)" #userItem="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="itemName">Item Name</label>
                    <input [ngModel]="selectedItem?.name" #name="ngModel" id="name" name="name" type="text" class="form-control" [class.is-invalid]="name.touched && name.invalid" required />
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Invalid Name!</small
            >
          </div>
          <div class="form-group">
            <label for="category">Item Category</label>
            <input
              [ngModel]="selectedItem?.category"
              #category="ngModel"
              id="category"
              name="category"
              type="text"
              class="form-control"
              [class.is-invalid]="category.invalid && category.touched"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="category.valid || category.untouched"
              >Invalid Price!</small
            >
          </div>
          <div class="form-group">
            <label for="price">Item Price</label>
            <input
              [ngModel]="selectedItem?.price"
              #price="ngModel"
              id="price"
              name="price"
              type="text"
              class="form-control"
              [class.is-invalid]="price.invalid && price.touched"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="price.valid || price.untouched"
              >Invalid Price!</small
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            [disabled]="userItem.form.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>