<div>
  <div class="searchUserItems">
    <input
      [ngModel]="search"
      (ngModelChange)="onSearchChange($event)"
      placeholder="search user item..."
      class="form-control searchInput"
      type="text"
    />
    <svg
      class="searchIcon"
      width="20"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
      ></path>
    </svg>
  </div>
  <ng-container *ngIf="userItem; else noItems">
    <div class="row">
      <div
        *ngFor="let item of filteredItems"
        class="col col-sm-12 col-md-4 my-3"
      >
        <div class="card">
          <div class="card-body">
            <img
              class="itemImg"
              src="../../../assets/images/{{ item.image }}"
            />
            <h5>{{ item.name }}</h5>
            <span>{{ item.price }}</span>
          </div>
          <div class="card-footer">
            <button
              (click)="onDeleteItem(item._id)"
              type="button"
              class="btn btn-danger btn-buy"
            >
              remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <div class="cart-sub-total" style="margin: 2% 0; text-align: center;">
      <strong class="subtotal-title">סה׳׳כ:</strong>
      <span class="sub-total-amount"> &#8362;{{totalAmount}}</span>
    </div>
    <div class="row mx-auto w-75 button-spaced">
      <button (click)="onCheckoutClick()" class="btn btn-dark" [disabled]="userItem.items.length == 0">
        מעבר לקופה
      </button>
    </div>
  </ng-container>
  <ng-template #noItems>
    <div class="text-center">
      <div class="card">
        <div class="card-body">
          <p class="text-muted">It Seems You Have No Items Added Yet!</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
