<div class="container">
  <div class="row text-center">
    <h1>תשלום</h1>
    <strong class="">מוכנה להזמנה? זה ייקח ממש כמה רגעים</strong>
  </div>

  <div class="card" style="direction: rtl">
    <form (submit)="onHandleSubmit(registerForm)" #registerForm="ngForm">
      <div class="card-body">
        <div class="row">
          <div class="form-group form-spaced col-md-4">
            <label for="name">שם פרטי</label>
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              placeholder="שם פרטי"
              [class.is-invalid]="name.invalid && name.touched"
              ngModel
              #name="ngModel"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="name.valid || name.untouched"
              >!חובה למלא שם פרטי</small
            >
          </div>
          <div class="form-group form-spaced col-md-4">
            <label for="lastName">שם משפחה</label>
            <input
              id="lastName"
              name="lastName"
              type="text"
              class="form-control"
              placeholder="שם משפחה"
              [class.is-invalid]="lastName.invalid && lastName.touched"
              ngModel
              #lastName="ngModel"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="lastName.valid || lastName.untouched"
              >חובה למלא שם משפחה!</small
            >
          </div>
        </div>

        <div class="row">
          <div class="form-group form-spaced col-md-4">
            <label for="city">עיר</label>
            <input
              id="city"
              name="city"
              type="text"
              class="form-control"
              placeholder="עיר"
              [class.is-invalid]="city.invalid && city.touched"
              ngModel
              #city="ngModel"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="city.valid || city.untouched"
              >חובה למלא עיר!</small
            >
          </div>
          <div class="form-group form-spaced col-md-4">
            <label for="street">רחוב</label>
            <input
              id="street"
              name="street"
              type="text"
              class="form-control"
              placeholder="רחוב"
              [class.is-invalid]="street.invalid && street.touched"
              ngModel
              #street="ngModel"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="street.valid || street.untouched"
              >חובה למלא רחוב!</small
            >
          </div>
        </div>

        <div class="row">
          <div class="form-group form-spaced col-md-4">
            <label for="streetNumber">מספר רחוב</label>
            <input
              id="streetNumber"
              name="streetNumber"
              type="text"
              class="form-control"
              placeholder="מספר רחוב"
              [class.is-invalid]="streetNumber.invalid && streetNumber.touched"
              ngModel
              #streetNumber="ngModel"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="streetNumber.valid || streetNumber.untouched"
              >חובה למלא מספר רחוב!</small
            >
          </div>
          <div class="form-group form-spaced col-md-4">
            <label for="houseNumber">מספר דירה</label>
            <input
              id="houseNumber"
              name="houseNumber"
              type="text"
              class="form-control"
              placeholder="מספר דירה"
              [class.is-invalid]="houseNumber.invalid && houseNumber.touched"
              ngModel
              #houseNumber="ngModel"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="houseNumber.valid || houseNumber.untouched"
              >חובה למלא מספר דירה!</small
            >
          </div>
        </div>

        <div class="row">
          <div class="form-group form-spaced col-md-4">
            <label for="zip">מיקוד</label>
            <input
              id="zip"
              name="zip"
              type="text"
              class="form-control"
              placeholder="מיקוד"
              [class.is-invalid]="zip.invalid && zip.touched"
              ngModel
              #zip="ngModel"
              required
            />
            <small
              class="text-danger"
              [class.d-none]="zip.valid || zip.untouched"
              >חובה למלא מיקוד!</small
            >
          </div>
        </div>

        <div class="card-footer">
          <button
            [disabled]="registerForm.invalid"
            id="btn-register"
            type="submit"
            class="btn text-light"
          >
            סיום הזמנה
          </button>
        </div>
        <div class="row mx-auto w-75 button-spaced">
          <button
            (click)="onAddOrder(price, items, customer)"
            [disabled]="registerForm.invalid"
            class="btn btn-dark"
            type="submit"
          >
            סיום הזמנה
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
