<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container px-4 px-lg-5">
    <img
      src="/assets/images/merci-logo.svg"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
      routerLink="/"
    />
    <a class="navbar-brand" routerLink="/">
      <img
        src="/assets/images/merci-font.svg"
        width="95"
        height="45"
        class="d-inline-block align-top"
        alt="{{ title }}"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li
          class="nav-item (mouseover)='hover=true' (mouseleave)='hover=false'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            routerLink="/"
            [ngClass]="{ 'navbar-link-hover': homeMouseOvered }"
            (mouseover)="homeMouseOvered = true"
            (mouseout)="homeMouseOvered = false"
            >דף הבית</a
          >
        </li>

        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            routerLink="/items"
            [ngClass]="{ 'navbar-link-hover': itemsMouseOvered }"
            (mouseover)="itemsMouseOvered = true"
            (mouseout)="itemsMouseOvered = false"
            >בגדים</a
          >
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a
            class="nav-link"
            routerLink="/about"
            [ngClass]="{ 'navbar-link-hover': aboutMouseOvered }"
            (mouseover)="aboutMouseOvered = true"
            (mouseout)="aboutMouseOvered = false"
            >עלינו</a
          >
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a
            class="nav-link"
            routerLink="/contact"
            [ngClass]="{ 'navbar-link-hover': contactMouseOvered }"
            (mouseover)="contactMouseOvered = true"
            (mouseout)="contactMouseOvered = false"
            >צרי קשר</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ml-lg-auto mt-2 mt-lg-0">
        <li
          *ngIf="authService.isAdmin()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a
            class="nav-link"
            routerLink="/managment"
            [ngClass]="{ 'navbar-link-hover': managmentMouseOvered }"
            (mouseover)="managmentMouseOvered = true"
            (mouseout)="managmentMouseOvered = false"
            >ניהול</a
          >
        </li>

        <li class="nav-item navbar-icon" *ngIf="!authService.isLoggedIn()">
          <button
            class="btn"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/authenticate"
          >
            <i
              class="fas fa-user-circle fa-lg"
              [ngClass]="{ 'navbar-icon-hover': userMouseOvered }"
              (mouseover)="userMouseOvered = true"
              (mouseout)="userMouseOvered = false"
            ></i>
          </button>
        </li>

        <li class="nav-item mr-lg-2">
          <a
            href="#!"
            *ngIf="authService.isLoggedIn()"
            class="nav-link"
            (click)="onHandleLogOut()"
            >התנתק</a
          >
        </li>

        <li class="nav-item navbar-icon">
          <button
            class="btn"
            type="submit"
            [class.disabled]="!authService.isLoggedIn()"
            (click)="onCartClick()"
          >
            <i
              class="fas fa-shopping-bag fa-lg"
              [ngClass]="{ 'navbar-icon-hover': shoppingBagMouseOvered }"
              (mouseover)="shoppingBagMouseOvered = true"
              (mouseout)="shoppingBagMouseOvered = false"
            ></i>
            <span class="badge rounded-pill badge-notification">1</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
