<div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              מספר אנשים באתר
            </h5>
            <span class="h2 font-weight-bold mb-0">{{ usersCount }}</span>
          </div>
          <div class="col-auto">
            <div
              class="
                icon icon-shape
                bg-warning
                text-white
                rounded-circle
                shadow
              "
            >
              <i class="fas fa-chart-pie"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
