<div class="flex-parent">
  <div class="flex-child-wider">
    <div class="card card-stats mb-3 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              מספר אנשים באתר
            </h5>
            <span class="h2 font-weight-bold mb-0">{{ onlineUsersCount }}</span>
          </div>
          <div class="col-auto">
            <div
              class="
                icon icon-shape
                bg-primary
                text-white
                rounded-circle
                shadow
              "
            >
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-stats mb-3 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              מספר משתמשים
            </h5>
            <span class="h2 font-weight-bold mb-0">{{
              usersCount || async
            }}</span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-info text-white rounded-circle shadow"
            >
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-stats mb-3 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              מספר הזמנות
            </h5>
            <span class="h2 font-weight-bold mb-0">{{ ordersCount }}</span>
          </div>
          <div class="col-auto">
            <div
              class="
                icon icon-shape
                bg-warning
                text-white
                rounded-circle
                shadow
              "
            >
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-stats mb-3 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              מספר מוכרים בחנות
            </h5>
            <input
              [(ngModel)]="cashierCount"
              (input)="setCashierCount()"
              class="form-control"
            />
          </div>
          <div class="col-auto">
            <div
              class="
                icon icon-shape
                bg-warning
                text-white
                rounded-circle
                shadow
              "
            >
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              ?האם המוצר קיים
            </h5>
            <div class="row">
              <input [(ngModel)]="itemName" class="form-control" />
              <button (click)="searchItemExists()" class="btn btn-secondary">
                בדוק
              </button>
            </div>
            <br />
            <span class="h6 font-weight-bold mb-0">{{ foundItem }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <app-bar-graph></app-bar-graph>
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              הערכת חיבורים יחודיים
            </h5>
            <br />
            <span class="h6 font-weight-bold mb-0">{{
              uniqueConnectionsAproximation | uniqueConnections
            }}</span>
            <br /><br />
            <h5 class="card-title text-uppercase text-muted mb-0">
              צפי חיבורים לחודש הבא
            </h5>
            <br />
            <span class="h6 font-weight-bold mb-0">{{
              uniqueConnectionsAproximation
                | expectedUniqueConnections
                | uniqueConnections
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-pie-graph></app-pie-graph> -->
  </div>
  <div class="totalIncomes">
    <h5>סך כל הכנסות:</h5>
    <div class="money">{{totalIncomes}}</div>
  </div>
</div>
