<div class="banner-content text-center">
  <h1>מדיניות משלוחים והחזרות</h1>
</div>
<hr />
<div class="general-content-container">
  <p><strong>המידה לא תואמת? התחרטת מכל סיבה שהיא?</strong></p>
  <p>
    מרסי מאפשרת החזרה של פריטים שלא נלבשו ולא הוסרה מהם תווית המחיר המקורית
    ושלא נעשה בהם כל שימוש .
  </p>
  <p>
    באריזה שבה נשלח הפריט נמצאות כל ההוראות שצריך כדי לשלוח בקלות את הפריט חזרה
    אלינו – החזרת המשלוח למחסן החברה.
  </p>
  <p>במדבקה שמצורפת לחבילה יש לבחור האם ברצונך:</p>
  <p>
    <strong>במקרה של החזרה</strong>– &nbsp;ניתן לקבל זיכוי לאתר לרכישה הבאה עד
    14 ימי עסקים או זיכוי כספי תוך 48 שעות (2 ימי עסקים) לאמצעי התשלום איתו
    שולמה העסקה תקבל הלקוחה החזר כספי בניכוי של 5% משווי הפריט או החזר כספי
    בסכום של 100 ש”ח- הזול מבינהם . בסוף תהליך הזיכוי תקבלו אישור למייל.
  </p>
  <p>
    <span style="font-size: 12pt"
      ><strong
        ><span dir="LTR" style="font-family: Arial, sans-serif; color: #333333"
          >*</span
        ></strong
      ><strong
        ><span style="font-family: Arial, sans-serif; color: #333333">
          <span lang="HE"
            >זיכוי יינתן לאחר החזרה לסניף הדואר הקרוב תוך 2 ימי עסקים מרגע קבלת
            הפריט וצירוף של מספר מעקב, ללא מספר מעקב לא נוכל לבצע זיכוי
            לאשראי.</span
          ></span
        ></strong
      ></span
    >
  </p>
  <p style="text-align: center">
    <span style="color: #ff0000"
      ><strong
        >*לא ניתן לבצע החלפות/החזרות בחנות ויש לבצע החזרות דרך דואר ישראל
        בלבד.</strong
      ></span
    >
  </p>
  <p>
    <span style="font-size: 12pt; font-family: verdana, geneva, sans-serif"
      ><strong
        ><span lang="HE" style="color: #333333"
          >*בימי מבצעים/סוף עונה/ פריטים בהנחה תינתן החלפה עד 5 ימי עסקים.</span
        ></strong
      ></span
    >
  </p>
  <p>
    &nbsp;*&nbsp;&nbsp;לא ניתן לזכות כרטיסי דיירקט, ולכן בעלי כרטיסי דיירקט
    זכאים לקבלת קרדיט באתר בלבד.
  </p>
  <p>
    * &nbsp;לא ניתן להחזיר פריט בודד שנרכש כחלק מסט, אלא רק את הסט כולו על כל
    פריטיו.
  </p>
  <p>* אין מרסי אחראית על החזרת המוצרים באמצעות חברת דואר ישראל.</p>
  <p dir="LTR" style="text-align: right"><strong>אספקה ומשלוחים</strong></p>
  <p>
    <strong>משלוח עד הבית</strong>&nbsp;–&nbsp;המשלוח מגיע עם שליח עד הבית או
    מקום העבודה בהתאם לכתובת שציינת בהרשמה לאתר או בעת הרכישה. המשלוח יגיע
    אלייך&nbsp;בטווח של 3-5&nbsp;ימי עסקים&nbsp;(ימי עסקים הינם ימי חול א-ה
    ואינם כוללים סופי שבוע, חגים ומועדים וערבי חג). השליחים שלנו עובדים בשעות
    היום בין 09:00-18:00 ומתאמים מראש את מועד ההגעה בהודעה או בשיחה מקדימה מול
    הלקוח. אנו ממליצים בשלב ההזמנה לציין את הכתובת למשלוח בה אתם זמינים במהלך
    שעות היום. אם פספסתם שיחה מהשליח הוא ינסה לתאם איתכם את המשלוח ביום שלמחרת.
  </p>
  <p>
    אנו ממליצים לעבור על טופס אישור ההזמנה במייל ולראות שכל הפרטים נכונים
    ומעודכנים- הכתובת למשלוח וכן מספר הנייד להתקשרות עם השליח.
  </p>
  <p>
    <strong>עלות המשלוח</strong>– בקנייה מעל 300 ש”ח באתר המשלוח הוא ללא עלות
    נוספת. בסכום קנייה הנמוך מ- 300 ש”ח יחוייב הלקוח בדמי משלוח בגובה 20 ש”ח בעת
    ההזמנה.
  </p>
  <p>
    * משלוח ללא עלות לא חל במקרים של שימוש בקרדיט לאתר, על כן תהיה עלות של 20
    ש”ח עבור המשלוח.
  </p>
  <p>
    * ייתכנו עיכובים בהגעת השליח במידה ומדובר ביישובים, מושבים, קיבוצים וכן
    ישוביים מרוחקים: אילת, יישובי הערבה, יישובים מעבר לקו הירוק ואזור רמת הגולן.
    ביישובים אלה המשלוח יגיע אלייך בטווח של 8 ימי עסקים.
  </p>
  <p></p>
</div>
